<h1> {{(heroe.id)? 'Editar' : 'Crear'}} Heroe
<small>{{heroe.superhero}}</small></h1>

<div fxLayout="row" fxLayoutGap="40px"
                    fxLayout.xs="column">
    <form action="" [formGroup]="myForm">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row"  fxLayoutGap="20"
                             fxLayout.xs="column">
                <mat-form-field fxFlex="100">
                <mat-label>Super Heroe</mat-label>
                <input matInput
                type="text"
                formControlName="superhero"
                [value]="heroe.superhero"
                required>
            </mat-form-field>

            <mat-form-field >
                <mat-label>Alter Ego</mat-label>
                <input matInput
                type="text"
                formControlName="alter_ego"
                [value]="heroe.alter_ego"
                required>
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Primera Aparicion</mat-label>
            <input matInput
            type="text"
            formControlName="first_appearance"
            [value]="heroe.first_appearance"
            required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput
            type="text"
            formControlName="characters"
            [value]="heroe.characters"
            required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Publisher</mat-label>
            <mat-select required
            formControlName="publisher"
            >
                <mat-option *ngFor="let publisher of publishers"
                [value]="publisher.id">
                    {{publisher.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Imagen Url</mat-label>
            <input matInput
            type="url"
            formControlName="alt_img"
            [value]="heroe.alt_img"
            >
        </mat-form-field>
        <br>

        <div fxLayout>
          <button mat-raised-button color="primary" (click)="SaveNewHero()">
            <mat-icon>edit</mat-icon>
            {{(heroe.id)? 'actualizar' : 'Crear'}}
            </button>

            <span class="spacer"></span>

            <button mat-raised-button *ngIf="heroe.id"
            (click)="borrarHero()"
            color="warn">remove<mat-icon></mat-icon>
          </button>
        </div>
      </div>


      <div fxFlex="50">
        <img [src]="heroe | image" alt="hero">
      </div>
    </form>


</div>
