<h1> {{(heroe.id)? 'Editar' : 'Crear'}} Heroe
<small>{{heroe.superhero}}</small></h1>

<div>
    <form action="" [formGroup]="myForm" class="flex flex-column w-full md:flex-row md:justify-content-center">
    <div class="flex flex-column md:w-6 " >
        <div class="flex">
                <mat-form-field  class="mr-2 w-6">
                <mat-label>Super Heroe</mat-label>
                <input matInput
                type="text"
                formControlName="superhero"
                [value]="heroe.superhero"
                required>
            </mat-form-field>

            <mat-form-field class="w-6">
                <mat-label>Alter Ego</mat-label>
                <input matInput
                type="text"
                formControlName="alter_ego"
                [value]="heroe.alter_ego"
                required>
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Primera Aparicion</mat-label>
            <input matInput
            type="text"
            formControlName="first_appearance"
            [value]="heroe.first_appearance"
            required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput
            type="text"
            formControlName="characters"
            [value]="heroe.characters"
            required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Publisher</mat-label>
            <mat-select required
            formControlName="publisher"
            >
                <mat-option *ngFor="let publisher of publishers"
                [value]="publisher.id">
                    {{publisher.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Imagen Url</mat-label>
            <input matInput
            type="url"
            formControlName="alt_img"
            [value]="heroe.alt_img"
            >
        </mat-form-field>

        <mat-form-field >
            <mat-label>Descripción del heroe</mat-label>
            <textarea matInput formControlName="heroe_desc"
                                placeholder="Descripción del heroe...">
            </textarea>
        </mat-form-field>
        <br>

        <div fxLayout>
          <button mat-raised-button color="primary" (click)="SaveNewHero()">
            <mat-icon>edit</mat-icon>
            {{(heroe.id)? 'actualizar' : 'Crear'}}
            </button>

            <span class="spacer"></span>

            <button mat-raised-button *ngIf="heroe.id"
            (click)="borrarHero()"
            color="warn">remove<mat-icon></mat-icon>
          </button>
        </div>
      </div>


      <div class="flex justify-content-center md:w-6">
        <img class="form__img mt-4 md:max-w-22rem md:ml-4 lg:max-w-26rem add-edit-img" [src]="heroe | image" alt="hero">
      </div>
    </form>


</div>
