<div fxLayout="column">
    <div>
        <h1>Búscador de Heroes</h1>
        <mat-divider></mat-divider>
    </div>

    <div>
        <h3>Buscador</h3>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Hero</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     name="heroes"
                     [(ngModel)]="termino"
                     [matAutocomplete]="auto"
                     (input)="buscando()">
                     
              <mat-autocomplete autoActiveFirstOption 
                                #auto="matAutocomplete"
                                (optionSelected)="opcionSeleccionada( $event )">
                <mat-option *ngFor="let heroe of heroes " [value]="heroe.id">
                  {{heroe.superhero}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

    </div>
    <div>
      <pre>
        {{heroeSeleccionado |json}}
      </pre>
    </div>

</div>
