<mat-grid-list cols="1" *ngIf="!heroe; else divHeroe">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>
  <h1>{{heroe.superhero}}  <small> {{heroe.alter_ego}} </small> </h1>
  <mat-divider></mat-divider>
  <br>
    <div class="flex flex-column  md:flex-row img-text-section">
         <div class="flex justify-content-center">
            <img class="imgResponsive" [src]="heroe| image" alt="{{heroe.superhero}}">
        </div>
         <div class="mt-3">
            <h2> {{heroe.publisher}} </h2>
            <mat-divider></mat-divider>
            <mat-list>
                <h2> <strong> Primera Aparición:</strong>  {{heroe.first_appearance}} </h2>
                <h2> <strong> Personaje:</strong>  {{heroe.characters}} </h2>
                <h2> <strong> Creador:</strong>  {{heroe.publisher}} </h2>
                <h2> <strong> Alter Ego:</strong> {{heroe.alter_ego}} </h2>
                <p> {{heroe.heroe_desc}} </p>
            </mat-list>
            <br>
            <button mat-button color="warn" (click)="getBack()"><strong>Regresar</strong></button>
        </div>
    </div>
</ng-template>



