<mat-grid-list cols="1" *ngIf="!heroe; else divHeroe">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>
    <div fxLayout="row"
         fxLayout.gt-sm="colum"
         fxLayoutGap="30px">

         <div fxFlex="50">
            <h1>{{heroe.superhero}}  <small> {{heroe.alter_ego}} </small> </h1>
            <mat-divider></mat-divider>
            <br>
            <img class="imgResponsive" [src]="heroe| image" alt="{{heroe.superhero}}">
        </div>
         <div fxFlex="50">
            <h1> {{heroe.publisher}} </h1>
            <mat-divider></mat-divider>
            <mat-list>
                <h1> <strong> Primera Aparición:</strong>  {{heroe.first_appearance}} </h1>
                <h1> <strong> Personaje:</strong>  {{heroe.characters}} </h1>
                <h1> <strong> Creador:</strong>  {{heroe.publisher}} </h1>
                <h1> <strong>  Alter Ego:</strong> {{heroe.alter_ego}} </h1>
            </mat-list>
            <br>
            <button mat-button color="warn" (click)="getBack()"><strong>Regresar</strong></button>
        </div>
    </div>
</ng-template>



